<div class="message" id="<%= dom_id message %>">
  <div class="card">
    <div class="card-block">
      <a class="close" href="#" data-message-id="<%= message.id %>">&times;</a>
      <strong><%= message.ip %></strong>: <%= message.content %>
    </div>
  </div>
</div>
