<h1>One Room Chat</h1>

<div class="chat-room">
  <div class="messages">
    <%= render @messages %>
  </div>

    <%= text_field_tag :content, nil, required: true, class: 'form-control form-block', placeholder: "Type a message..." %>
</div>
